<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
    <servlet>
  	<servlet-name>JoinCon</servlet-name>
  	<display-name>JoinCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.JoinCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>emailCheckControl</servlet-name>
  	<display-name>emailCheckControl</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.emailCheckControl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>idCheckControl</servlet-name>
  	<display-name>idCheckControl</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.idCheckControl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginControl</servlet-name>
  	<display-name>LoginControl</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.LoginControl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>JoinCon</servlet-name>
  	<url-pattern>/JoinCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>emailCheckControl</servlet-name>
  	<url-pattern>/emailCheckControl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>idCheckControl</servlet-name>
  	<url-pattern>/idCheckControl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginControl</servlet-name>
  	<url-pattern>/LoginControl</url-pattern>
  </servlet-mapping>
</web-app>
