<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smhrd.model.PostDAO">

	<insert id="uploadOnlyText" parameterType="com.smhrd.model.PostVO">
	insert into t_board(B_SEQ, B_CONTENT, B_REGDT, MEM_ID, B_CNT, B_LIKES) values (t_board_seq.nextval, #{content},sysdate, #{id}, 0,0)
	
	</insert>
	
	<insert id="uploadImg" parameterType="com.smhrd.model.PostVO">
	insert into t_board(B_SEQ, B_CONTENT, B_FILE, B_REGDT, MEM_ID, B_CNT, B_LIKES) values (t_board_seq.nextval, #{content},#{filename},sysdate, #{id}, 0,0)
	
	</insert>
	
	<select id="showTimeline" resultType="com.smhrd.model.PostVO">
   		select  B_SEQ as seq,B_CONTENT as content, B_FILE as filename, MEM_ID as id, HASHTAG as hashtag, B_LIKES as likes from t_board order by b_seq DESC
	</select>
	
	<select id="showTimelineOnlyMe" resultType="com.smhrd.model.PostVO" parameterType="String">
   		select B_SEQ as seq, B_CONTENT as content, B_FILE as filename, MEM_ID as id, HASHTAG as hashtag, B_LIKES as likes from t_board where MEM_ID=#{id} order by b_seq DESC
	</select>
	
	<select id="getMyNick" resultType="String" parameterType="String">
   			select mem_nick from t_member inner join t_board on t_member.mem_id = t_board.mem_id where t_member.mem_id =#{id} and rownum <![CDATA[<]]> 2
	</select>
	
	<select id="whoIsWriter" resultType="String" parameterType="int">
   			select mem_id from t_board where b_seq=#{seq}
	</select>
	
	<select id="PostNumber" resultType="BigDecimal" parameterType="String">
   			select b_seq from t_board where mem_id=#{id} and rownum <![CDATA[<]]> 2
	</select>
	

</mapper>