<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smhrd.model.ProfileDAO">

	<!-- 회원가입 시 프로필 기본값 insert
	
	나중에 세팅페이지에서 업데이트하기 위함
	-->
	<insert id="insertProfile" parameterType="com.smhrd.model.ProfileVO">
	insert into t_profile(MEM_ID, STATUS, SKILLS, PROGRAMS, INTRODUCTION) values (#{id},#{status},#{skills},#{programs},#{introduction})
	<!-- 필드값 가져오기 #{} -->
	</insert>
	
	 <select id="selectProfileID" resultType="com.smhrd.model.ProfileVO" parameterType="String">
			select * from t_profile where mem_id=#{id}
	</select> 
	
	 <select id="selectProfileEMAIL" resultType="com.smhrd.model.ProfileVO" parameterType="String">
			select * from t_profile inner join t_member on t_member.mem_id = t_profile.mem_id where t_member.mem_email=#{email}
	</select> 
	
	 <select id="selectProfilePic" resultType="String" parameterType="String">
			select profile_pic from t_profile where mem_id=#{id}
	</select> 
	
	<update id="updateProfilePic" parameterType="com.smhrd.model.PostVO">
	update t_profile set STATUS=#{status},SKILLS=#{skills}, PROGRAMS=#{programs}, INTRODUCTION=#{introduction}, PROFILE_PIC=#{profile_pic} where MEM_ID=#{id}
	
	</update>
	
	<update id="updateProfile" parameterType="com.smhrd.model.PostVO">
	update t_profile set STATUS=#{status},SKILLS=#{skills}, PROGRAMS=#{programs}, INTRODUCTION=#{introduction} where MEM_ID=#{id}
	
	</update>

</mapper>