/* 회원가입 */
.join_us{position:absolute; top:0; left:0; width:100%; height:100vh; overflow:hidden; background:url(../img/background.png) no-repeat 0 -410px;}

.j_us{width:400px; height:650px; padding:40px; border:1px solid #eee; background:#fff; position:absolute; top:0; bottom:0; right:0; left:0; margin:auto; align-items:flex-start; flex-wrap:wrap;}
.j_logo{width:100%; height:150px;  text-align:center; margin-top:50px;}
.j_logo>p:first-child{font-size:50px; font-weight:bold;}
.j_logo>p:last-child{font-size:20px; margin-top:50px;color:#707070;}
.j_line{width:100%; height:1px; background:#edecfe;}
#JOIN{ padding-top: 100px;width:100%; height:340px; align-items:center; flex-wrap:wrap; margin-top:0px;}
#JOIN>input{width:100%; height:50px; box-sizing:border-box; background:#edecfe; padding:0 20px; border-radius:10px;}
#JOIN>input:last-child{margin-top:40px; border-radius:10px; background:#5f64ca; border:none; color:#fff; font-size:18px; cursor:pointer; text-align:center;}

#join_us_close{position:absolute; top:4%; right:8%; font-size:25px; cursor:pointer; opacity:0.3;}

/* 설정 창 */

/* 배경 */
.join_setting{position:absolute; top:0; left:0; z-index:100; width:100%; height:100vh; overflow:hidden; background:url(../img/background.png) no-repeat 0 -410px; }

/* 폼 배경 */
.s_us{width:800px; height:650px; padding:40px; border:1px solid #eee; 
    background:#fff;  float:left; top:0; bottom:0; right:0; left:0; 
    margin: auto; margin-top: 50px; margin-left: 300px; align-items:flex-start; flex-wrap:wrap;
}

/* 설정 메뉴바 */
.setting_menu{
    width:250px; 
    height:500px;
    padding:40px;; 
    background:#5f64ca; float:left; left:0; flex-wrap:wrap;
    margin:auto; align-items:flex-start;
    padding:40px;
    align-content: center;
    align-items: center;
    border-radius: 0 50px 50px 0;
    margin-top:100px;
}

.set_m {
    margin-top: 90px;
}

.setting_l1>a {
    width:220px; height:36px; background:#fff; color:#5f64ca; font-size:18px; cursor:pointer; border-radius:25px;
    text-align:center;
    font-weight: bold;
    margin-top: 20px;
    margin-left:10px;
    padding-top:10px;

}

.setting_l1:nth-child(3)>a {
  color:#B3F5B2;


}

.setting_l1>a:hover {
  
  color:#B3F5B2; 

}


.back .back-white{
  height:30px;
  margin-left:10px;
  position:relative;
  display:inline-block;

}

.back .back-green{
  height:30px;
  margin-left:10px;
  display:none;
  position:absolute;
  z-index:99;

}


.back:hover .back-green{
  display:inline;

}
.set_m{
    margin-top:90px;
    margin-bottom:50px;
}


.logo_blank>p{
    background: #eee;
    height:50px ;
    width:50px;
}


#JOIN p{font-weight:bold;}


.set_email{width:80%; height:60px; align-items:flex-start; flex-wrap:wrap; }
.set_email>p{width:40%; height:80px; text-align: right; line-height:120px;}

.set_email>.input{width:60%; height:120px; align-items:center; flex-wrap:wrap;}
.set_email>.input>input:nth-child(1){ width:100%; height:40px; background:#edecfe; padding-left:10px; box-sizing:border-box;}
.set_email>.input>input:nth-child(2){width:100%; height:40px; background:#edecfe; padding-left:10px; box-sizing:border-box;}
div.set_email.fb p{
    width:20%;
}
div.input_links{
    width:70%;
    height:40px; background:#edecfe; padding-left:10px; box-sizing:border-box;
    
}
.set_sns{width:80%; height:120px; align-items:flex-start; flex-wrap:wrap; }
.set_sns>p{width:12%; height:60px; text-align: right; line-height:60px; font-weight:none;}
.set_sns>.checkbox{width: 88%; height:120px; align-items:center; padding-right:0; }
.set_sns>.checkbox>li{display:flex; width:20%; margin-left:10px;}
.set_sns>.checkbox>li>input{margin-right:10px;}


ul.checkbox.fa.sns{
padding-left: 45px;
}

.set_profile >a {
    width:5%;
}
.set_profile >a>p {
    font-size:20px;
    padding-bottom:120px;
    font-weight:normal;
    color:#707070;
}


div.set_btn.fb{width:80%; height:90px; align-items:flex-end; margin-top:30px;} 
.set_btn>a{ 
    margin-left: 360px; width:45%; height:50px; background:#5f64ca; color:#fff; text-align:center; font-size:18px; cursor:pointer; border-radius:10px;}
.set_btn input{width:45%; height:50px; background:#5f64ca; color:#fff; text-align:center; font-size:18px; cursor:pointer; border-radius:10px;}

#join_setting_close{position:absolute; top:4%; right:8%; font-size:25px; cursor:pointer; opacity:0.3;}
#join_us_close a {
    margin-top:100px;

}


.fa.sns{justify-content: left; 
padding-left:62px;
box-sizing: border-box;
height: 30px;

}
.fa.sns>input{
    width:80%; height:40px; background:#edecfe; padding-left:10px; box-sizing:border-box;
}

.set_sns{
    margin-top:15px
}


.set_btn{
    margin-top:100px;
}


.set_sns.fb{
    margin-top:30px;
    align-items: center;
}


.set_email p{
    width: 20%;
    height: 60px;
    text-align: right;
    line-height: 30px;


}
.div.input.fs{
    height:50px;
}
.input_links{
    width:73%; height:40px; background:#edecfe; padding-left:10px; box-sizing:border-box;
padding-top:12px;
margin-left:20px;

}
input {
    background:none;
}